* {
    box-sizing: border-box;
    border: solid 1px red;
}

body {
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'JetBrains Mono', monospace;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #294062;
}

li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* EXPLORE */

.explore {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 1rem;
}

/* EXPLORE PAGE REVIEWS */

.anime-details {
    display: flex;
    justify-content: space-between;
}

.text-details {
    width: 300px;
}

.review-header {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cover-image img {
    width: 225px;
}

.cover-image {

    text-align: right;
}

.review-text {
    height: 200px;
}

.review-pfp img {
    max-height: 125px;
}