<header>
    <div class="main-heading">
        <h1>AnimeList</h1>
        <h3>Share, Discover</h3>
    </div>

    <nav>
        <ul>
            <% if !logged_in? %>
                <li><a href="/">Explore</a></li>
                <li><a href="/animes/search">Search</a></li>
                <li><a href="/sessions/new">Log-in</a></li>
                <li><a href="/users/new">Sign-up</a></li>
            <% else %>
                <li><a href="/">Explore</a></li>
                <li><a href="/animes/search">Search</a></li>
                <li><a href="/sessions/<%= session['user_id'] %>/profile">Profile</a></li>
                <form action="/sessions" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button>Log out</button>
                </form>
            <% end %>
        </ul>
    </nav>

</header>

<main>

    <form action="/sessions" method="POST">
        <label for="">Email</label>
        <input type="text" name="email">

        <label for="">Password</label>
        <input type="password" name="password">

        <button>Sign-in</button>
    </form>

    
</main>