<header>
    <div class="main-heading">
        <h1>AnimeList</h1>
        <h3>Share, Discover</h3>
    </div>

    <nav>
        <ul>
            <% if !logged_in? %>
                <li><a class="regular-link" href="/">Explore</a></li>
                <li><a class="regular-link" href="/animes/search">Search</a></li>
                <li><a class="regular-link" href="/sessions/new">Log-in</a></li>
                <li ><a class="highlighted-link" href="/users/new">Sign-up</a></li>
            <% else %>
                <li><a class="regular-link" href="/">Explore</a></li>
                <li><a class="regular-link" href="/animes/search">Search</a></li>
                <div class="dropdown">
                    <li><a class="highlighted-link"><%= current_user['username'] %></a></li>
                    <div class="dropdown-content">
                        <div class="dropbtn">
                            <a href="/sessions/<%= session['user_id'] %>/profile">Profile</a>
                        </div>
                        <div class="dropbtn">
                            <form action="/sessions" method="POST">
                                <input type="hidden" name="_method" value="delete">
                                <button>Log out</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            <% end %>
        </ul>
    </nav>

</header>

<main class="sign-in">

    <div class="sign-in-box">
        <form action="/sessions" method="POST">
            <label for="">Email</label>
            <input type="text" name="email" value size="30" maxlength="50">
            <br>
            <label for="">Password</label>
            <input type="password" name="password" value size="30" maxlength="50">
            <br>
            <div class="loginbtn">
                <button>Login</button>
                <p>or</p>
                <div class="signbtn">
                    <a href="/users/new">Sign Up</a>
                </div>
            </div>
            
        </form>
    </div>
    
</main>