<header>
    <div class="main-heading">
        <h1>AnimeList</h1>
        <h3>Share, Discover</h3>
    </div>

    <nav>
        <ul>
            <li><a href="/">Explore</a></li>
            <li><a href="">Search</a></li>
            <li><a href="/animes/new">Review</a></li>
            <li><a href="/sessions/<%= session['user_id'] %>/profile">Profile</a></li>
            <li><a href="/sessions/new">Log-in</a></li>
            <li><a href="/users/new">Sign-up</a></li>
        </ul>
    </nav>

</header>

<main>
    <section class="user-info">
        <div class="pfp">
        IMG here
        </div>
        <div class="user-details">
            <h5>Username</h5>
            <h5># reviews</h5>
            <h5>Avg review score</h5>
        </div>
    </section>

    <section class="user-reviews">
    
    
    
    
    </section>
</main>