<header>
    <div class="main-heading">
        <h1>AnimeList</h1>
        <h3>Share, Discover</h3>
    </div>

    <nav>
        <ul>
            <li><a href="/">Explore</a></li>
            <li><a href="">Search</a></li>
            <li><a href="/animes/new">Review</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Log-in</a></li>
            <li><a href="/users/new">Sign-up</a></li>
        </ul>
    </nav>

</header>

<main>

    <form action="/users" method="POST">
    <label for="">First name</label>
    <input type="text" name="first_name">
    
    <label for="">Last name</label>
    <input type="text" name="last_name">

    <label for="">Email</label>
    <input type="text" name="email">

    <label for="">Profile picture</label>
    <input type="text" name="image_url">

    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>Sign-up</button>
    </form>

    
</main>