<header>
    <div class="main-heading">
        <h1>AnimeList</h1>
        <h3>Share, Discover</h3>
    </div>

    <nav>
        <ul>
            <li><a href="/">Explore</a></li>
            <li><a href="">Search</a></li>
            <li><a href="/animes/new">Review</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="/sessions/new">Log-in</a></li>
            <li><a href="/users/new">Sign-up</a></li>
        </ul>
    </nav>

</header>

<div class="loginplaceholder">
    <% if logged_in? %>
    <h3>hi <%= current_user['first_name'] %></h3>
    <% end %>
</div>

<main class="explore">

    <section class="review">
        <div class="anime-details">
            <div class="text-details">
                <div class="details">Name </div>
                <div class="details">Genres</div>
                <div class="details"># Eps</div>
                <div class="details">Year</div>
                
            </div>
            <div class="cover-image">
                IMG goes here
            </div>
        </div>
        
        <div class="user-review">
            <div class="review-header">
                <div class="review-pfp">
                IMG goes here
                </div>
                <div class="review-user">
                    <h5>username</h5>
                    <h5>recommendation</h5>
                </div>
                <div class="review-user2">
                    <h5>date</h5>
                    <h5>episodes watched</h5>
                </div>
            </div>
            <div class="review-text">
                review text goes here
            
            </div>
        
        </div>

    </section>

</main>