<header>
    <div class="main-heading">
        <h1>AnimeList</h1>
        <h3>Share, Discover</h3>
    </div>

    <nav>
        <ul>
            <% if !logged_in? %>
                <li><a href="/">Explore</a></li>
                <li><a href="/">Search</a></li>
                <li><a href="/sessions/new">Log-in</a></li>
                <li><a href="/users/new">Sign-up</a></li>
            <% else %>
                <li><a href="/">Explore</a></li>
                <li><a href="">Search</a></li>
                <li><a href="/animes/new">Review</a></li>
                <li><a href="/sessions/<%= session['user_id'] %>/profile">Profile</a></li>
                <form action="/sessions" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button>Log out</button>
                </form>
            <% end  %>
        </ul>
    </nav>

</header>

<main>

    <form action="/animes" method="POST">
    
        <label for="">Name</label>
        <input type="text" name="name">
        <br>
        <label for="">Image URL</label>
        <input type="text" name="image_url">
        <br>
        <label for="">Genres</label>
        <input type="text" name="genres">
        <br>
        <label for="">Synopsis</label>
        <input type="text" name="synopsis">
        <br>
        <label for="">Number of episodes</label>
        <input type="text" name="num_episodes">
        <br>
        <label for="">Year</label>
        <input type="text" name="year">
        <br>
        <label for="">Review date YYYY-MM-DD</label>
        <input type="text" name="review_date">
        <br>
        <label for="">Episodes watched</label>
        <input type="text" name="episodes_watched">
        <br>
        <label for="">Score</label>
        <input type="text" name="score">
        <br>
        <label for="">User review</label>
        <input type="text" name="user_review">    
        <br>
        <button>Add review</button>
    </form>

</main>